# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
HumanFluData/cleandata_nonorm_flu.rds
tables/GSE120661_counts_normalized.rds
*.RData
tables/GSM3542845_US22502595_254890810441_S01_GE1_1105_Oct12_1_1.txt
tables/GSE124689_exprs.rds
tables/GSE120661_exprs.rds
tables/human_mouse_fluad_raw_qn.rds
tables/human_mouse_fluad_raw_qn_avg.rds
tables/human_mouse_fluad_raw_qn_log2fc.rds
tables/human_mouse_fluad_raw_qn_log2fc_avg.rds
data_studies/GSE124533_series_matrix.txt
tables/GSE124533_exprs.rds
tables/influenza_fluad_human_mouse_qc_raw_qn.rds
tables/influenza_hepatitisb_GSE120661_exprs.rds
tables/GSE124533_series_matrix.txt.gz
tables/all_human_mouse_samples_log2fc.rds
tables/GSE36809_human_trauma_exprs.rds
tables/mouse_trauma_exprs.rds
tables/GSE36809_series_matrix.txt.gz
tables/trauma_human_exprs.rds
tables/trauma_human_log2fc_sample_clean_long.rds
tables/burn_human_log2fc_sample_clean_long.rds
tables/human_gene_info_mart_export.txt
Genomic/GRCh38-Closest-Genes-PC.tsv
Genomic/genomic_human_cCREs_GRCh38_Closest-Genes-PC.tsv
tables/human_mouse_log2fc_avg_wide_degs_all_immune_nonimmune.rds
tables/Genomic/genomic_human_cCREs_GRCh38_Closest-Genes-PC.tsv

# Staging folder for the standalone prediction repository (uploaded separately)
novo repo/
